[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
django_heroku = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-bootstrap-form = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
